<h1>Your messages</h1>

<% if @messages.length == 0 %>
  No messages, but you can <%= link_to 'send a message', new_message_path %>.
<% else %>

  <table>
    <tr>
      <th>From</th>
      <th>Subject</th>
    </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%=h message.from_user.login %></td>
      <td><%= h(truncate(message.subject)) %></td>
      <td><%= link_to 'Show', message %></td>
      <td><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Send a message', new_message_path %>

<% end %>

