<p>
  <b>Text:</b>
  <%=h @message.text %>
</p>

<p>
  <b>From user:</b>
  <%=h @message.from_user_id %>
</p>

<p>
  <b>To user:</b>
  <%=h @message.to_user_id %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @message.deleted %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>