<div class='doc_box'>
  <ul>
    <li><%= link_to_unless_current "Development Home", :action => 'index' %>
      <ul>
        <li><%= link_to_unless_current "Ruby", :action => 'ruby' %></li>
        <li><%= link_to_unless_current "Python", :action => 'python' %></li> 
        <li><%= link_to_unless_current "C/C++", :action => 'c' %></li>
        <li><%= link_to_unless_current "the command line", :action => 'command_line' %></li>
        <li><%= link_to_unless_current "other languages", :action => 'other_languages' %></li>
      </ul>
    </li>
    <li><%= link_to_unless_current "Parselets.com API", :action => 'api' %></li>
    <li><%= link_to_unless_current "Getting Help", :action => 'help' %></li>
  </ul>
</div>
