<div style="width:700px">
  Use Parselets with: <%= link_to "Ruby", :action => 'ruby' %>, 
  <%= link_to "Python", :action => 'python' %>, 
  <%= link_to "C/C++", :action => 'c' %>, 
  <%= link_to "the command line", :action => 'command_line' %>, 
  or
  <%= link_to "other languages", :action => 'other_languages' %>.
</div>
