<div class='doc'>

  <%= render 'dev/box' %>

  <h2>Parselets.com</h2>

  <div>
    <p>
      Parselets.com is a central repository for user-created APIs to the web, called Parselets.  Parselets are snippets of parsing code written in a language called Parsley, which is a familiar combination of CSS, XPath, Regular Expressions, and JSON.
    </p>

    <p>
      Parselets.com has an <%= link_to "open API", :action => 'api' %> and Parsley can be used from <%= link_to "Ruby", :action => 'ruby' %>, <%= link_to "Python", :action => 'python' %>, <%= link_to "C/C++", :action => 'c' %>, and the <%= link_to "*nix command-line", :action => 'command_line' %>.
    </p>
  </div>

  <h2>Parsley</h2>

  <div>
    <p>
      Parsley is a simple to use and elegant language for creating HTML and XML parsers.  Parsley is:
      <ul>
        <li>fast - built on the highly optimized libxml and libxslt (for example, Parsley outperforms both Hpricot and Nokogiri in Ruby)</li>
        <li>in your language - you can use Parsley from your language of choice including <%= link_to "Ruby", :action => 'ruby' %>, <%= link_to "Python", :action => 'python' %>, and <%= link_to "C/C++", :action => 'c' %>, with more coming soon</li>
        <li>portable - snippets of Parsley, called Parselets, can easily be shared with other people, cross language, format, and platform</li>
        <li>easy to learn - use your existing knowledge of CSS, XPath, JSON, and Regular Expressions</li>
        <li>powerful - Parsley supports all relevant parts of CSS 3, XPath, XSLT, and Regular Expressions</li>
      </ul>
    </p>
    <p>
      <%= link_to "Learn more about the Parsley language at our GitHub wiki", "http://wiki.github.com/fizx/parsley" %>
    </p>
  </div>

  <h2>Parsley in Your Language</h2>

  <div>
    <p>
      Choose a quick Parsley tutorial in your language:
      <ul>
        <li><%= link_to "Ruby", :action => 'ruby' %></li>
        <li><%= link_to "Python", :action => 'python' %></li>
        <li><%= link_to "C/C++", :action => 'c' %></li>
        <li><%= link_to "*NIX Command-line", :action => 'command_line' %></li>
        <li>Others coming soon...maybe you can write bindings for us?</li>
      </ul>
    </p>
  </div>

  <h2>Getting Help</h2>

  <div>
    <p>
      Questions?  <a href="#">Join our mailing list</a> or post on the <a href="#">Parselets.com forum</a>.
    </p>
  </div>
  
</div>
