<div class="column">
	<% form_tag session_path do -%>
	
		<p><%= label_tag 'login' %><br />
		<%= text_field_tag 'login', @login %></p>

		<p><%= label_tag 'password' %><br/>
		<%= password_field_tag 'password', nil %></p>

		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>

		<p><%= submit_tag 'Log in' %></p>
	<% end -%>
</div>
<div>
	<% form_tag new_user_path do -%>
		
		<p><%= label_tag 'invitation_code' %><br />
		<%= text_field_tag 'invite', @invite %> <%= submit_tag 'Sign up' %></p>

	<% end -%>
</div>