<% new_comment ||=false %>
<ol id="comments_area_<%= dom_id(new_comment.commentable) if new_comment && new_comment.commentable %>"><%=render(comments) or "<li>No comments</li>" %></ol>

<% if new_comment %>
  <div id="add_comment_<%= dom_id(new_comment.commentable) if new_comment && new_comment.commentable %>">
    <% if logged_in? %>
      <%= will_paginate comments, :param_name => 'comments_page' %>
      <script>
        $('.pagination a').attr('rel', 'facebox');
      </script>
      <p>&nbsp;</p>
    	
    	<h3>Add a comment</h3>
    	<%=render "/comments/form", :comment => new_comment %>
    <% else %>
      Please <%=link_to "log in", login_path, :rel =>"facebox"%> to add a comment.
    <% end %>
  </div>
<% end %>
