<% remote_form_for(@comment) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :commentable_type %>
    <%= f.hidden_field :commentable_id %>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
