<li class="v">
  <% path = url_for :controller => "parselets", :action => "show", :id => version.parselet, :version => version.version %>
	<a class="version" href='<%= path %>'><div><%= version.version %></div></a>
	<%= link_to "#{time_ago_in_words(version.created_at)} ago", path, :class=>"url" %> <span class='by'>by</span> 
	<% if version.revision_login == 'anonymous' %>
	  <span class='by'>anonymous</span>
	<% else %>
	  <%= link_to h(version.revision_login), user_path(:id => version.revision_login), :class=>"url" %>
  <% end %>
	<div class="vdiff"><pre id="<%=version.version%>-version-diff"></pre></div>
  <pre id="<%=version.version%>-version-summary" class="summary" style="display:none"><%=h version.summary%></pre>
</li>