<li>
  <h3>
    <%=link_to "##{version.version}, #{time_ago_in_words version.created_at} ago", :controller => "parselets", :action => "show", :id => version.parselet, :version => version.version %>
    <span>by 
    <% if version.revision_user %>
      <%=link_to version.revision_user.login, version.revision_user%>
    <% else%>
      Unknown
    <% end %>
    </span>
    <%= "<strong>(currently displayed)</strong>" if params[:version].to_s == version.version.to_s %>
    </h3>
    Status: <%= version.status %>
    <pre id="<%=version.version%>-version-diff" style="display:none"></pre>
    <pre id="<%=version.version%>-version-summary" class="summary" style="display:none"><%=h version.summary%></pre>
</li>