<% @user.password = @user.password_confirmation = nil %>
<% form_for(@user, :url => { :action => @user.new_record? ? "create" : "update" }) do |f| %>
  <%= error_messages_for :user %>
    
  <% if @user.new_record? %>
    <p><%= label_tag 'login' %><br/>
    <%= f.text_field :login %></p>
  <% else %>
    <p>Login: <%=h @user.login%></p>
    <p>Api key: <%=h @user.api_key%> (<%= link_to 'reset', { :action => 'reset_api_key', :id => @user }, :confirm => 'Are you sure that you want to reset your API key to a new random key?', :method => :post %>)</p>
  <% end %>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email %></p>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <p><%= submit_tag @user.new_record? ? 'Sign up' : 'Update profile' %></p>
<% end -%>
