<div class="shift">
  <div style="float: right; margin-right: 8px">
    <%= gravatar(@user.email) %>
  </div>

  <h1>
    <%= @user.login %>
  </h1>

  <div style="margin-left: 10px">
    <div>
      <% if @user.parselets.empty? %>
        ...doesn't have any parselets yet.
      <% else %>
        ...has worked on <%= @user.parselet_count.to_s %> parselets.  
        <%= link_to "Check them out!", :controller => 'search', :action => 'index', :q => @user.login, :classes => "Parselet" %>
      <% end %>
    </div>
    <div>
        ...has been a member for <%=time_ago_in_words @user.created_at %>.
    </div>
    <div>
        ...has a karma score of 
        <%= image_tag("/images/medal_bronze_1.png", :align => "absmiddle", :width => "12", :style => "position:relative;top:-1px") %><%= @user.total_karma %>.
    </div>
  </div>
</div>
