<ul class="boxes">
  <li>
  	<h3>Top domains</h3>
  	<ol><%=render @domains %></ol>
  	<h5><%=link_to 'more &rarr', domains_path %></h5>
  </li>
  <li>
  	<h3>Top parselets <%=link_to '+', new_parselet_path %></h3>
  	<ol><%=render @parselets %></ol>
		<h5><%=link_to 'more &rarr', parselets_path %></h5>
  </li>  
  <% if admin? %>
    <li>
      <h3>Top sprigs <%=link_to '+', new_sprig_path %></h3>
      <ol><%=render @sprigs %></ol>
      <h5><%=link_to 'more &rarr', sprigs_path %></h5>
    </li>
  <% end %>
	<li>
		<h3>Top users</h3>
		<ol><%=render @users %></ol>
		<h5><%=link_to 'more &rarr', users_path %></h5>
	</li>
</ul>
<div id="blurb">
  <p>Parselets are little developer-generated APIs for a wide variety of websites (Try searching).  Parselets.com is a place to create and share them.  </p>

  <p>Parselets are written in Parsley, which is a superset of CSS selectors, regexen, and XPath, in a little JSON wrapper.  If you know any of the above technologies, you'll be fine.  You can run parselets from the command-line, Ruby, Python, C, or by connecting to parselets.com and using the web service.</p>
<p>  Parselets is brought to you by Kyle Maxwell and Andrew Cantino.</p>
</div>
