<h3><%=link_to 'Domains' %></h3>
<ol><%=render @domains %></ol>
<h3><%=link_to 'Users' %></h3>
<ol><%=render @users %></ol>
<h3><%=link_to 'Sprigs' %></h3>
<ol><%=render @sprigs %></ol>
<h3><%=link_to 'Parselets' %></h3>
<ol><%=render @parselets %></ol>