<% form_remote_tag :url => parselet_ratings_path(parselet), :html => {:class => "ratings", :id => "parselet-form-#{parselet.id}"} do %>
  <% if parselet.status == "ok" %>
    <% (1..5).each do |i| %>
      <%=radio_button_tag "star-#{parselet.id}", i.to_s, i== (parselet.average_rating || 0).round, :class => "star" %>
    <% end %>
    <input type="hidden" name="value" class="hvalue" value="0" />
    <span class="count" id="rating-count-<%=parselet.id%>">&nbsp;<%=parselet.ratings_count %></span>
  <% else %>
    <%= status(parselet) %> <%= parselet.status %>
  <% end %>
<% end %>