<h1>Editing rating</h1>

<% form_for(@rating) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :ratable_id %><br />
    <%= f.text_field :ratable_id %>
  </p>
  <p>
    <%= f.label :ratable_type %><br />
    <%= f.text_field :ratable_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @rating %> |
<%= link_to 'Back', ratings_path %>
