<% form_for(@invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :usages %><br />
    <%= f.text_field :usages %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
