<% form_for(@sprig) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>








  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Basic info</th>
      <th class="buttons"><%=submit_tag "Save"%></th>
    </tr>
    <tr>
      <td>
        <%= f.label :keyword %><br />
        <%= f.text_field :name %>
      </td>
      <td class="info" width="100%">A short name to reference your parselet by.  It should be alphanumeric+underscore.</td>
    </tr>
    <tr>
      <td>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </td>
      <td class="info">Human-readable description of the parselet, indexed by search. </td>
    </tr>
  </table>



<% end %>