<% form_for(@sprig, :html => {:id => "sprig_form"}) do |f| %>
  <%= f.error_messages %>

  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th colspan="2">Basic info</th>
    </tr>
    <tr>
      <td>
        <%= f.label :keyword %><br />
        <%= f.text_field :name, :disabled => !(admin? || new_record?) %>
      </td>
      <td class="info" width="100%">A short name to reference your parselet by.  It should be alphanumeric+underscore.</td>
    </tr>
    <tr>
      <td>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </td>
      <td class="info">Human-readable description of the parselet, indexed by search. </td>
    </tr>
  </table>
  
  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Keys</th>
    </tr>
    <tr>
      <td><%=render "code", :sprig => @sprig%></td>
    </tr>
	</table>
  
  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Matches:</th>
    </tr>
    <tr>
      <td>Nothing yet</td>
    </tr>
	</table>


  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th class="buttons">
        <%=submit_tag "Save"%>
      </th>
    </tr>
	</table>


<% end %>