<h1>Editing status_message</h1>

<% form_for(@status_message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @status_message %> |
<%= link_to 'Back', status_messages_path %>