<p>
  <b>Message:</b>
  <%=h @status_message.message %>
</p>

<p>
  <b>User:</b>
  <%=h @status_message.user_id %>
</p>

<p>
  <b>Active:</b>
  <%=h @status_message.active %>
</p>


<%= link_to 'Edit', edit_status_message_path(@status_message) %> |
<%= link_to 'Back', status_messages_path %>