<% json ||= nil %>
<% root = !(path =~ /\[/ ) %>
<% add_key ||= emptyish(data) || data.values.none?(&:blank?)%>

<% if root %>
  <%=hidden_field_tag "#{path}-command", "" %>
<% end %>

<tt>
{
  <span class="subtle"> # object
    <% if !root %>
      [ <%=link_to "delete"%> ]
    <% end %>
  </span>

  <blockquote>
    <% data.each_with_index do |(key, value), i|%>
      <div>
        <%=key_field path, i, key %>:
        <% case value 
           when String, NilClass %>
          <% next if key.blank? %>
            <%=space(key)%>
            <%=value_field path, i, value %>
            <%=menu%>
                  <!-- [ <%=link_to_command "multi", "multify", path, i %> ]
                  [ <%=link_to_command "object", "objectify", path, i %> ] -->
        <% when Hash %>
          [ <%=link_to_command "multi", "multify", path, i %> ]
          <%=render "code", :data => value, :path => "#{path}[#{i}][value]"%>
        <% when Array %>
          [ <span class="subtle">
            # multi 
            <%=menu%>
            <!-- [ <%=link_to_command "single", "unmultify", path, i %> ] -->
          </span>
            <blockquote>
              <%=multi_field path, i %>
              <% value = value.first %>
              <% case value 
                 when String, NilClass %>
                   <%=value_field path, i, value %> 
                   <%=menu%>
                          <!-- [ <%=link_to_command "object", "objectify", path, i %> ] -->
              <% when Hash %>
                   <%=render "code", :data => value, :path => "#{path}[#{i}][value]"%>
              <% end %>
            </blockquote>
          ]
        <% end %>
      </div>  
    <% end%>
    <% if add_key %><div><%=auto_key_field path, data.length %>: &larr; add a key</div><% end %>
  </blockquote> 
}
</tt>


<% if root %>
  <script>
    var field = $('parselet_form').getInputs('text').find(function(e){ 
        return e.name.startsWith("root") && $F(e) == ""; 
      });
    var alt_field = $('parselet_form').getInputs('text').find(function(e){ 
        return e.name.startsWith("root") && $F(e) == "" && e.className == "key-auto"; 
      });
    field = field || alt_field;
    field && field.focus();
  </script>
<% end %>