<% root = !(path =~ /\[/ ) %>
<% add_key ||= emptyish(data) || data.values.none?(&:blank?)%>

<% if root %>
  <%=hidden_field_tag %>
<% end %>

{
  <span class="subtle"> # object
    <% if !root %>
      [ <%=link_to "delete"%> ]
    <% end %>
  </span>

  <blockquote>
    <% data.each_with_index do |(key, value), i|%>
      <div>
        <%=key_field path, i, key %>:
        <% case value 
           when String, NilClass %>
          <% next if key.blank? %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%=value_field path, i, value %> or <%=link_to "multi" %> or <%=link_to "object" %>
        <% when Hash %>
          <%=render "code", :data => value, :path => "#{path}[#{i}][value]"%>
        <% when Array %>
          [
            <%=multi_field path, i %>
            <% value = value.first %>
            <% case value 
               when String, NilClass %>
                 <%=value_field path, i, value %> or <%=link_to "object" %>
            <% when Hash %>
                 <%=render "code", :data => value, :path => "#{path}[#{i}][value]"%>
            <% end %>
          ]
        <% end %>
      </div>  
    <% end%>
    <% if add_key %><div><%=key_field path, data.length, "" %>: &larr; add a key</div><% end %>
  </blockquote> 
}