<% form_for(@parselet, :html => {:id => "parselet_form"}) do |f| %>
  <%= f.error_messages %>

  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Basic info</th>
      <th class="buttons"><%=submit_tag "Save"%></th>
    </tr>
    <tr>
      <td>
        <%= f.label :keyword %><br />
        <%= f.text_field :name %>
      </td>
      <td class="info" width="100%">A short name to reference your parselet by.  It should be alphanumeric+underscore.</td>
    </tr>
    <tr>
      <td>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </td>
      <td class="info">Human-readable description of the parselet, indexed by search. </td>
    </tr>
  </table>
  
  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Scope</th>
      <th class="buttons"><%=submit_tag "Save"%></th>
    </tr>
    <tr>
      <td>
        <%= f.label :example_url %><br />
        <%= f.text_field :example_url %>
      </td>
      <td class="info">A url that will be used to validate, preview, etc. your parselet.  It must match the pattern.</td>
    </tr>
    <tr>
      <td>
        <%= f.label :pattern %>
        <%= f.check_box :pattern_regex %>
        <%= f.label "regex?" %>
        <br />
        <%= f.text_field :pattern %>
      </td>
      <td class="info">A pattern that describes urls expected to match this parselet.  You can use simple patterns (use * for wildcard, pattern must match entire url), or perl-compatible regular expressions (use ^, $ to anchor if desired).</td>
    </tr>
  </table>
  
  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>Sprigs</th>
      <th class="buttons"><input type="text" value="Search"> <input type="button" value="Add"></th>
    </tr>
    <tr>
      <td colspan="2">
        Sprigs are pre-defined sets of keys that represent commonly used data types.
      </td>
    </tr>
  </table>
  
  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <th>
		<%=hidden_field_tag "editor_helpful", "true"%>
		<%=hidden_field_tag "root-command", "" %>
        <div class="tab"><%=link_to_function "Helpful", "helpful(true)", :class => "selected", :id => "hyes" %></div>
        <div class="tab"><%=link_to_function "Simple", "helpful(false)", :id => "hno" %></div>
      </th>
      <th class="buttons">
        <input type="button" value="Refresh" onclick="re_eval(this)" id="arbitrary" />
        <%=submit_tag "Save"%>
      </th>
    </tr>
    <tr>
      <td id="code_container"><%=render "code", :editor_type => "helpful", :path => "root", :data => @parselet.json %></td>
    </tr>
  </table>
<% end %>