<% form_for(@parselet, :url => {  :action => @parselet.new_record? ? "create" : "update" }, :html => {:id => "parselet_form"}) do |f| %>
  <%= f.error_messages %>

  <%= render 'cancel_save' %>

  <div class='section'>
    <h3>Basic info</h3>
    <div class='section_body'>
      <div class='section_row'>
        <%= f.label :keyword %>
        <%= f.text_field :name, :disabled => !(admin? || @parselet.new_record?), :class => 'text' %>
        <span class='section_info'>A short name to reference your parselet by.  It should be alphanumeric+underscore.</span>
      </div>
      <div class='section_row'>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <span class='section_info'>Human-readable description of the parselet, indexed by search.</span>
      </div>
    </div>
  </div>
  
  <div class='section'>
    <h3>Scope</h3>
    <div class='section_body'>
      <div class='section_row'>
        <%= f.label :example_url %>
        <%= f.text_field :example_url, :class => 'text' %>
        <span class='section_info'>A url that will be used to validate, preview, etc. your parselet.  It must match the pattern.</span>
      </div>
      <div class='section_row'>
        <%= f.label :pattern %>
        <%= f.text_field :pattern, :class => 'text' %>
        <span class='section_info'>
          A pattern that describes urls expected to match this parselet.  Put parameters or unknown chunks of the url in curly braces.
          <p />
          <h4>Examples:</h4>
    			<ul>
    				<li>http://www.youtube.com/watch?v={id} </li>
    				<li>http://yelp.com/{city?} &larr; (the question mark denotes an optional parameter)</li>
    			</ul>
        </span>
      </div>
    </div>
  </div>
  
  <div class='section'>
    <h3>Parselet Editor</h3>
    
    <ul class="code_tabs">
      <li id='result_tab'><a href="#">result</a><img id='result_loading_img' src="/images/results_loader.gif" width=16 height=16 /></li>
      <li id='simple_tab'><a href="#">simple</a></li>
      <li class='selected' id='helpful_tab'><a href="#">helpful</a></li>
    </ul>
    
    <div class='code'>
      <div id='code_controls'>
        <a href='#' id='undo'>Undo</a> | 
        <a href='#' id='redo'>Redo</a>
      </div>
      <textarea id="simple_code" name="parselet[code]" style='display:none' class='code_window'></textarea>
      <div id='helpful'></div>
      <textarea id="result" style='display:none' class='code_window'></textarea>
    </div>
  </div>
  
  <script>
    jQuery(document).ready(function(){
      jQuery('#simple_code').val(JSON.stringify(<%= @parselet.pretty_code %>, null, 2));
      var editor = new ParseletEditor(jQuery("#simple_code"), jQuery('#result'), jQuery('#helpful'), 
                                      jQuery('#parselet_form'), '/parse?format=json', $('#undo'), $('#redo'), 
                                      $('#result_loading_img'));
      editor.showHelpful();
      
      $('#helpful_tab').click(function(e) {
        if (editor.showHelpful()) {
          $('#helpful_tab').addClass('selected');
          $('#simple_tab').removeClass('selected');
          $('#result_tab').removeClass('selected');
        }
        return false;
      });
      $('#simple_tab').click(function(e) {
        if (editor.showSimple()) {
          $('#simple_tab').addClass('selected');
          $('#helpful_tab').removeClass('selected');
          $('#result_tab').removeClass('selected');
        }
        return false;
      });
      $('#result_tab').click(function(e) {
        if (editor.showResult()) {
          $('#result_tab').addClass('selected');
          $('#helpful_tab').removeClass('selected');
          $('#simple_tab').removeClass('selected');
        }
        return false;
      });
      
      $('#undo').click(function(e) { editor.undo(); return false; });
      $('#redo').click(function(e) { editor.redo(); return false; });
    });
  </script>
  
  <%= render 'cancel_save' %>
<% end %>