<% example_data = {} unless example_data.is_a?(Hash) %>
<% root = !(path =~ /\[/ ) %>
<% add_key ||= emptyish(data) || data.values.none?(&:blank?)%>
<tt>
<% if root %>
<%=menu({}, path, false) %> 
<% end %>
{
  <blockquote>
    <% data.each_with_index do |(key, value), i|%>
      <% 
        example_key = example_data.keys[i] 
        example_val = example_data[example_key] 
      %>
      <div>
		<%=key_field path, i, key, value %>:
        <% case value 
           when String, NilClass %>
          <% next if key.blank? %>
            <%=value_field path, i, value %><br>
            <span style="visibility:hidden"><img width="100" height="1"> :&nbsp;&nbsp;</span>
            <span style="color:silver"><%=h example_val%></span>
        <% when Hash %>
          <%=render "/parselets/helpful", :data => value, :path => "#{path}[#{i}][value]", :example_data => example_val || {}%>
        <% when Array %>
          [ <span class="subtle">
          </span>
            <%=multi_field path, i %>
            <% value = value.first %>
            <% example_len = (example_val || []).length %>
            <% example_val = example_val && example_val.first %>
            
            <% case value 
               when String, NilClass %>
                 <%=value_field path, i, value %> 
            <% when Hash %>
                 <%=render "/parselets/helpful", :data => value, :path => "#{path}[#{i}][value]", :example_data => example_val || {} %>
            <% end %>
          ]
          <span style="color:silver">// <%= example_len %> items</span>
        <% end %>
      </div>  
    <% end%>
    <% if add_key %><div><%=key_field path, data.length %>: &larr; add a key</div><% end %>
  </blockquote> 
}
</tt>