<li>
  <%=thumb(parselet)%>
	<div style="float:left">
		<h4><%=status(parselet, :small) %><%=link_to h(parselet.name), parselet %></h4>
		<%=example_link(parselet)%>
		<p><%=h parselet.description %></p>
	</div>
</li>