<li>
  <%=thumb(parselet)%>
	<div style="margin-left:55px">
		<h4>
			<%=status(parselet, :small) %>
			<%=link_to h(parselet.name), parselet %>
      <!-- <span>
        <input name="star-<%=parselet.id%>" type="radio" class="star"/> 
        <input name="star-<%=parselet.id%>" type="radio" class="star"/> 
        <input name="star-<%=parselet.id%>" type="radio" class="star"/> 
        <input name="star-<%=parselet.id%>" type="radio" class="star"/> 
        <input name="star-<%=parselet.id%>" type="radio" class="star"/>
      </span> -->
			<%=comments parselet, :small %>
		</h4>
		<%=example_link(parselet)%>
		<p><%=h truncate(parselet.description, :length => 250) %></p>
	</div>
</li>