<li>
  <%=thumb(parselet)%>
	<div style="margin-left:55px">
		<h4>
			<%=ratings parselet %>
		  <%=comments parselet, :small %>
			<%=link_to h(parselet.name), parselet %>
		</h4>
		<%=example_link(parselet)%>
		<p><%=h truncate(parselet.description, :length => 250) %></p>
	</div>
</li>