<h1>Editing parselet</h1>

<% form_for(@parselet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  <p>
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </p>
  <p>
    <%= f.label :example_url %><br />
    <%= f.text_field :example_url %>
  </p>
  <p>
    <%= f.label :pattern_regex %><br />
    <%= f.check_box :pattern_regex %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @parselet %> |
<%= link_to 'Back', parselets_path %>
