
<div>
	<%=thumb @parselet, edit_path(@parselet)%> 
	<div style="margin-left:55px">
		<%=ratings @parselet %>
		<h1><%=link_to h(@parselet.name), edit_path(@parselet) %>
			<span><%=mini_gravatar(@parselet.user.email)%> by <%=link_to @parselet.user.login, @parselet.user%></span>
		</h1>
		<div><%=example_link @parselet%> <%=link_to "cached", @parselet.cached_page, :class => "small" %></div>
	</div>
</div>
<div class="desc"><%=h @parselet.description %></div>

<ul id="options" style="clear:both">
	<li><%=icon "document__pencil"%> <%= link_to 'edit', edit_path(@version || @parselet) %></li>
	<li><%=comments @parselet %></li>
	<li><%=icon "clock"%> <%=link_to "history", parselet_parselet_versions_path(@parselet) %></li>
	<li><%=icon "wand" %> <%=link_to "api helper", parselet_parselet_versions_path(@parselet)%></li>
</ul>

<br><br>

<div style="clear:both">
  Try on: <%=text_field_tag "foo", @parselet.example_url, :style => "width:300px"%> <input type="submit" value="go">
  <div><%=render "helpful", :data => @parselet.zipped_example%></div>
</div>

