<div class="shift">
	<%= thumb(@parselet) %>
	<div class="result_right right_shift">
	  <!-- <div style="clear: left"><%#= ratings @parselet %></div> -->
		<h3 style="float: right; clear: right; position: relative; left:-1px">
		  <span class="faded">
		    <%= "originally " if @parselet.user_id != @parselet.original_user_id %>
		    by <%=link_to @parselet.user.login, @parselet.user %><%=gravatar @parselet.user.email, :class => "rt_gravatar", :align => "absmiddle" %>
		  </span>
		</h3>
	</div>
	<div class="result_body">
		<h1><%=link_to h(@parselet.name), parselet_edit_path(@parselet), :class => 'result_title' %></h1>
		<%= example_link(@parselet) %>
		<p><%=wikify(h(truncate(@parselet.description, :length => 250))) %></p>
	</div>

  <div class="show_page">
    <div class="left">
      <div class="heading">
        <div class="usage">
          <%= link_to "See usage example", parselet_usage_path(@parselet), :class=> "usage url" %>
        </div>
        <h3>
          Code <%=link_to image_tag("/images/edit.png", :border => 0, :align=> "baseline", :class => 'edit'), parselet_edit_path(@parselet)%>
        </h3>
      </div>
      <div class="parselet">
        <pre><div><%=h @parselet.pretty_code%></div></pre>
      </div>
    </div>
    <div class="right">
      <div class="heading">
        <div style="position: relative; top: 8px">
    			<h5>Results for</h5>
    			<form method="get">
    			  <%= text_field_tag "url", params[:url] || @parselet.example_url, :class => 'text' %>
    			  <input type="submit" value="go" />
    			</form>
    		</div>
			</div>
      <div class="parselet">
        <pre><div><%=@parselet.compressed_html_example_data(params[:url || @parselet.example_url])%></div></pre>
      </div>
    </div>

    <div class="left">
      <a name="history"></a>
      <h2>History</h2>
      <ol><%= render :partial => 'version', :collection => @versions %></ol>
      <div style="display:none">
        <ol><%= render [@extra.first] if @extra && !@extra.empty? %></ol>
      </div>
      <%= will_paginate @versions, :param_name => 'history_page' %>
    </div>
    <div class="right">
      <h2>Comments (<span id="comments_<%= dom_id(@parselet) %>"><%= @parselet.comments.count %></span>)</h2>
      <div class='comments'>
        <%= render "/comments/comments", :comments => @comments, :new_comment => @parselet.comments.new %>
      </div>
    </div>
  </div>
</div>