<div class="shift">
	<%= thumb(@parselet) %>
	<div class="result_right right_shift">
	  <!-- <div style="clear: left"><%#= ratings @parselet %></div> -->
		<h3 style="float: right; clear: right; position: relative; left:-1px; margin-bottom: 4px">
		  <span class="faded">
		    by <%=link_to @parselet.original_user.login, @parselet.original_user %><%=gravatar @parselet.original_user.email, 
		                                                                                       :class => "rt_gravatar", :align => "absmiddle" %>
		  </span>
		</h3>
		<% if @parselet.user != @parselet.original_user %>
  		<h3 style="float: right; clear: right; position: relative; left:-1px">
  		  <span class="faded">
  		    updated by <%=link_to @parselet.user.login, @parselet.user %><%=gravatar @parselet.user.email, 
  		                                                                             :class => "rt_gravatar", :align => "absmiddle" %>
  		  </span>
  		</h3>
		<% end %>
	</div>
	<div class="result_body">
		<h1><%=link_to h(@parselet.name), parselet_edit_path(@parselet), :class => 'result_title' %> 
		  <span class="faded">v<%=@parselet.version%></span>
		</h1>
		<%= example_link(@parselet) %>
		<p><%=wikify(h(truncate(@parselet.description, :length => 250))) %></p>
	</div>

  <div class="show_page">
		<%=render "widget"%>

    <div class="left">
      <a name="history"></a>
      <h2>History <%=link_to image_tag("/images/icons/feed.png", :border => 0, :align =>"absmiddle"), :action =>"versions", :format => "atom"%></h2>
      <ol><%= render :partial => 'version', :collection => @versions %></ol>
      <div style="display:none">
        <ol><%= render [@extra.first] if @extra && !@extra.empty? %></ol>
      </div>
      <%= will_paginate @versions, :param_name => 'history_page' %>
    </div>
    <div class="right">
      <h2>Comments (<span id="comments_<%= dom_id(@parselet) %>"><%= @parselet.comments.count %></span>)
        <%=link_to image_tag("/images/icons/feed.png", :border => 0, :align =>"absmiddle"), :action =>"comments", :format => "atom"%>
        </h2>
      <div class='comments'>
        <%= render "/comments/comments", :comments => @comments, :new_comment => @parselet.comments.new %>
      </div>
    </div>
  </div>
</div>