<p>
  <b>User:</b>
  <%=h @karma.user_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @karma.value %>
</p>

<p>
  <b>Description:</b>
  <%=h @karma.description %>
</p>


<%= link_to 'Edit', edit_karma_path(@karma) %> |
<%= link_to 'Back', karma_path %>