<html>
  <head>
    <%= stylesheet_link_tag "site" %>
		<link href="/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/jquery.rating.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/diff_match_patch.js"></script>
		<script src="/javascripts/jquery.rating.js"></script>
		<script src="/facebox/facebox.js"></script>
		<script>
			jQuery(document).ready(function(e) {
			  var differ = new diff_match_patch();
			  
			  jQuery('a[rel*=facebox]').facebox();
			  
			  jQuery('.summary').each(function(){
			    var old = jQuery("#" + (parseInt(this.id) - 1) + "-version-summary");
			    var target = jQuery("#" + parseInt(this.id) + "-version-diff");
			    if(old.size() == 0) old = jQuery("<div/>");
			    if(target.size() > 0) {
			      try {
			        var diff = differ.diff_main(old.html(), jQuery(this).html());
			        differ.diff_cleanupSemantic(diff);
			        var arr = differ.diff_prettyHtml(diff).split("{{{");
			        var buffer = "";
			        for(var i = 0; i < arr.length; i++) {
			          if(arr[i].indexOf("<INS") > -1 || arr[i].indexOf("<DEL") > -1) {
			            buffer += "{{{" + arr[i]
			          }
			        }
			        target.html(buffer.replace(/{{{/g, "<strong>").replace(/}}}/g, "</strong>"));
			        target.toggle();
		        } catch(e){
		          alert(e);
		        }
			    }
			  })
			})
		</script>

    <%
      if @highlight_code || (defined?(highlight_code) && highlight_code)
        @additional_stylesheets ||= []
        @additional_javascripts ||= []
        @additional_stylesheets << ["syntax_highlighter/shCore", "syntax_highlighter/shThemeDefault"]
        @additional_javascripts << ["syntax_highlighter/shCore", "syntax_highlighter/shBrushRuby", 
                                    "syntax_highlighter/shBrushPython", "syntax_highlighter/shBrushCpp", 
                                    "syntax_highlighter/shBrushJScript"]
      end
    %>

    <%= javascript_include_tag :defaults %>
    <% (@additional_stylesheets || (defined?(additional_stylesheets) && additional_stylesheets) || []).each do |style_sheet| %>
      <%= stylesheet_link_tag style_sheet %>
    <% end %>
    <% (@additional_javascripts || (defined?(additional_javascripts) && additional_javascripts) || []).each do |javascript| %>
      <%= javascript_include_tag javascript %>
    <% end %>
    <title>
      Parselets.com &gt; <%= h(@title || "#{params[:controller].capitalize}") %>
      <% if @title.nil? && params[:id] %>
        &gt; <%= h params[:id].to_s.capitalize %>
      <% elsif @title.nil? && params[:action] != 'index' %>
        &gt; <%= h params[:action].capitalize %>
      <% end %>
    </title>

    <% if @highlight_code || (defined?(highlight_code) && highlight_code) %>
      <script type="text/javascript">
        SyntaxHighlighter.all();
      </script>
    <% end %>
    
  </head>
  <body>
    <div id="header">
      <div class="content">
        <div id="user-nav">
          <%=render "/users/user_bar" %>
        </div>
        <%=link_to "parselets.com", "/", :id => "logo"%>
        <ul id="nav">
          <% menu_option "parselets", parselets_url do %>
            <%=link_to icon("plus_small", "create parselet"), new_parselet_url %>
          <% end %>
          <% if admin? %>
            <% menu_option "sprigs", sprigs_url do %>
              <%=link_to icon("plus_small", "create sprig"), new_sprig_url %>
            <% end %>
          <% end %>
          <% menu_option "domains", domains_url do %>
            <%= empty_icon %>
          <% end %>
          <% menu_option "users", users_url do %>
            <%= empty_icon %>
          <% end %>
          <% menu_option "dev tools", dev_url do %>
            <%= empty_icon %>
          <% end %>
        </ul>
      	<form id="search" action="/search" method="GET">
       		<%=text_field_tag "q", params[:q], :id => "box", :value => "search" %>
      		<input type="submit" value="Search">
      	</form>
        <div id="cheat"></div>
      </div>
    </div>
    <div id="body">
      <%= %[<div id="notice">#{h flash[:notice]}</div>] if flash[:notice] %>
    <div id="main">
