<html>
  <head>
    <%= stylesheet_link_tag "site" %>
		<link href="/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/jquery.rating.css" media="screen" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
    <%= javascript_include_tag 'jquery-ui', 'jrails', 'application' %>    
    
		<script src="/javascripts/diff_match_patch.js"></script>
		<script src="/javascripts/jquery.rating.js"></script>
		<script src="/facebox/facebox.js"></script>
		<script>
		  var setup_stopprop = null;
		  var setup_favorites = null;
		  var get_unique_id = null;
			$(document).ready(function(e) {
			  var differ = new diff_match_patch();
			  
			  $('a[rel*=facebox]').live('mouseover', function() {
			    $(this).attr('rel', '').facebox();
			  });
			  
			  $('.summary').each(function(){
			    var old = $("#" + (parseInt(this.id) - 1) + "-version-summary");
			    var target = $("#" + parseInt(this.id) + "-version-diff");
			    if(old.size() == 0) old = $("<div/>");
			    if(target.size() > 0) {
			      try {
			        var diff = differ.diff_main(old.html(), $(this).html());
			        differ.diff_cleanupSemantic(diff);
			        var arr = differ.diff_prettyHtml(diff).split("{{{");
			        var buffer = "";
			        for(var i = 0; i < arr.length; i++) {
			          if(arr[i].indexOf("<INS") > -1 || arr[i].indexOf("<DEL") > -1) {
			            buffer += "{{{" + arr[i]
			          }
			        }
			        target.html(buffer.replace(/{{{/g, "<strong>").replace(/}}}/g, "</strong>"));
			        if (target.html().length > 0) target.parent().toggle();
		        } catch(e){
		          alert(e);
		        }
			    }
			  });
			  
			  setup_stopprop = function(context) {
  			  $('.stop_prop', context).click(function(e) {
  			    stop_prop(e);
  			    return true;
  			  });
			  };
			  setup_stopprop($('body'));
			  
			  $('#box').focus(function(e) {
			    if ($(this).val() == 'search') $(this).val('');
			  });
			  
			  get_unique_id = function() {
			    var id = Math.floor(Math.random()*100000000);
		      while ($('#' + id).get(0)) { id = Math.floor(Math.random()*100000000); }
		      return id;
			  };
			  
			  // Do favorites
			  
        setup_favorites = function(context) {
  			  $('.favorited', context).mouseover(function() {
  			    $('img', this).attr('src', '/images/icons/heart_break.png');
  			  }).mouseout(function() {
  			    $('img', this).attr('src', '/images/icons/heart.png');
  			  });
			  
  			  $('.not_favorited', context).mouseover(function() {
  			    $('img', this).attr('src', '/images/icons/heart__plus.png');
  			  }).mouseout(function() {
  			    $('img', this).attr('src', '/images/icons/heart_empty.png');
  			  });
			  
  			  $('.not_favorited, .favorited', context).click(function() {
  			    var self = $(this);
  			    $.ajax({ data: { 'favoritable_type': $(this).attr('favoritable_type'), 
  			                     'favoritable_id': self.attr('favoritable_id') }, 
  			             type: 'post', url: '/favorites/toggle', 
  			             success: function(data, textStatus) { 
  			      var unique_id = get_unique_id();
  			      var new_html = $(data).attr('id', unique_id);
  			      var old_text = $('.fav_text', self).text();
  			      self.replaceWith(new_html);
  			      var c = $('#' + unique_id).parent();
			        if (old_text == 'favorite') {
			          old_text = 'favorited';
			        } else if (old_text == 'favorited'){
			          old_text = 'favorite';
			        }
			        $('.fav_text', c).text(old_text);
  			      setup_stopprop(c);
  			      setup_favorites(c);
  			    }});
  			    return false;
  			  });
  			};
  			setup_favorites($('body'));
			  
			})
		</script>

    <%
      if @highlight_code || (defined?(highlight_code) && highlight_code)
        @additional_stylesheets ||= []
        @additional_javascripts ||= []
        @additional_stylesheets << ["syntax_highlighter/shCore", "syntax_highlighter/shThemeDefault"]
        @additional_javascripts << ["syntax_highlighter/shCore", "syntax_highlighter/shBrushRuby", 
                                    "syntax_highlighter/shBrushPython", "syntax_highlighter/shBrushCpp", 
                                    "syntax_highlighter/shBrushJScript"]
      end
    %>

    <% (@additional_stylesheets || (defined?(additional_stylesheets) && additional_stylesheets) || []).each do |style_sheet| %>
      <%= stylesheet_link_tag style_sheet %>
    <% end %>
    <% (@additional_javascripts || (defined?(additional_javascripts) && additional_javascripts) || []).each do |javascript| %>
      <%= javascript_include_tag javascript %>
    <% end %>
    <title>
      Parselets.com &gt; <%= h(@title || "#{params[:controller].capitalize}") %>
      <% if @title.nil? && params[:id] %>
        &gt; <%= h params[:id].to_s.capitalize %>
      <% elsif @title.nil? && params[:action] != 'index' %>
        &gt; <%= h params[:action].capitalize %>
      <% end %>
    </title>

    <% if @highlight_code || (defined?(highlight_code) && highlight_code) %>
      <script type="text/javascript">
        SyntaxHighlighter.all();
      </script>
    <% end %>
    
    <% if @include_editor %>
      <script type="text/javascript" src="/javascripts/json2.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.timers.js"></script>
      <script type="text/javascript" src="/javascripts/editor.js"></script>
    <% end %>
    
  </head>
  <body>
    <% if @admin_access %>
      <div id='admin_notice'>Using Admin Access</div>
    <% end %>
    
    <div id="header">
      <div class="content">
        <div id="user-nav">
          <%=render "/users/user_bar" %>
        </div>
        <%=link_to "parselets.com", "/", :id => "logo"%>
        <ul id="nav">
          <% menu_option "parselets", parselets_url do %>
            <%=link_to icon("plus_icon.jpg", "create parselet", ''), new_parselet_url %>
          <% end %>
          <%= menu_option "domains", domains_url %>
          <%= menu_option "users", users_url %>
          <%= menu_option "dev tools", dev_url %>
        </ul>
      	<form id="search" action="/search" method="GET">
       		<%=text_field_tag "q", params[:q], :id => "box", :value => params[:q] || "search" %>
      		<input type="submit" value="Search">
      	</form>
        <div id="cheat"></div>
      </div>
    </div>
    <div id='body_wrapper'>
      <div id="body">
        <div id="main">
          <%= %[<div id="notice">#{h flash[:notice]}</div>] if flash[:notice] %>
